{{/* This template is combined with other templates to render blog pages. */}}

{{define "root"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{template "title" .}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/atom+xml" title="blog.gopheracademy.com - Atom Feed" href="http://blog.gopheracademy.com/feed.atom" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        padding-top: 70px;
        padding-bottom: 40px;
      }

      .post {
        padding: 15px 0px;
        border-bottom: 1px dotted #ccc;
      }

      img {
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
      }

      .widget h3 { display: block; background: #212121; color: #f1f1f1; text-transform: capitalize; border-radius: 5px; margin-bottom: 10px; text-align: center; padding: 5px 5px;}

      .feat-img img { padding: 5px; border: 1px solid #ccc;}

      .post:first-of-type { padding-top: 0px;}
      .widget ul { margin-left: 0px;}
      .widget ul li { list-style: none; font-size: 14px;}
      .widget ul li a { display: block; padding: 5px 0px; color: #888; border-top: 1px dotted #ccc;}
      .widget ul li a:hover { background: #fff; text-decoration: none; padding-left: 5px;}
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Gopher Academy Blog</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://www.gopheracademy.com">Back To Gopher Academy</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="row">
        
        <div class="col-sm-9">
          
		{{template "content" .}}
        </div><!-- end main area -->
        <div class="col-sm-3">
            <div class="widget">
            <h3>GopherCon 2014</h3>
            <a href="http://www.gophercon.com/?utm_source=gopheracademyblog&utm_medium=banner&utm_campaign=banner"><img class="img-responsive" src="/static/gophercon.png" alt="Gophercon 2014" /></a>
            </div>

            <div class="widget">
            <h3>GopherCon 2014 Needs Sponsors</h3>
            <p>Gopher Academy is looking for sponsors for GopherCon 2014. Sponsoring this event is a great way to get your products, services, an ideas in front of top-notch Go developers and decision makers.</p>
            <p>Check out our <a href="http://www.gophercon.com/cfp-sponsors/">Sponsorship page</a> today and help make this conference amazing.</p>
            </div>

            <div class="widget">
              <h3>About Us</h3>

              <p>
               Gopher Academy is a group of developers working to educate and promote the #golang community.  
              </p>
              <p>
                <ul>
                  <li><a href="http://www.gopheracademy.com">Gopher Academy Home</a></li>
                  <li><a href="https://twitter.com/gopheracademy">@gopheracademy on Twitter</a></li>
                  <li><a href="mailto:social@gopheracademy.com">Email Us</a></li>
                  <li><a href="http://www.gophercon.com">GopherCon 2014</a></li>
                  <li><a href="feed://blog.gopheracademy.com/feed.atom">Subscribe : Atom</a></li>                  
                </ul>
              </p>
            </div><!-- end widget -->


        <div class="widget">
        <h3>Article List</h3>

          <p><a href="/index">See Article Index</a></p>
 

            </div><!-- end widget -->

      {{with .Doc}}
      <div class="widget">
        <h3>Other Articles</h3>

				{{with .Newer}}
					<h4>Next article</h4>
					<p><a href="{{.Path}}">{{.Title}}</a></p>
				{{end}}
				{{with .Older}}
					<h4>Previous article</h4>
					<p><a href="{{.Path}}">{{.Title}}</a></p>
				{{end}}
				{{with .Related}}
					<h4>Related articles</h4>
					<ul>
					{{range .}}
						<li><a href="{{.Path}}">{{.Title}}</a></li>
					{{end}}
					</ul>
				{{end}}

            </div><!-- end widget -->

      {{end}}
      </div><!-- end row -->
 <hr>
      <footer>
        <p>&copy; Gopher Academy 2013</p>
      </footer>

    </div><!-- end container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40924989-2', 'gopheracademy.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
{{end}}

{{define "doc"}}
	<div class="article">

		<h1 class="title"><a href="{{.Path}}">{{.Title}}</a></h1>
    {{with .Authors}}
      <p class="author">By {{authors .}}</p>
    {{end}}
    <p class="date">{{.Time.Format "2 January 2006"}}</p>
		{{.HTML}}
	</div>
{{end}}
